
@{
    ViewBag.Title = "OpenMessage";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj İçeriği</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">

                        </div>
                        <table class="table mt-3">
                            <thead>

                                <tr>
                                    <th scope="col">Gönderici</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Mesaj</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@ViewBag.SenderMail</td>
                                    <td>@ViewBag.Date</td>
                                    <td>@ViewBag.Subject</td>
                                    <td>@ViewBag.Content</td>                                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

