﻿﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link rel="stylesheet" type="text/css" href="/DatPayment-master/dist/css/DatPayment.css">
<link rel="stylesheet" type="text/css" href="/DatPayment-master/example.css">
<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.js"></script>

<form id="payment-form" class="datpayment-form my-5" style="margin-top:100px !important; min-height: calc(100vh-51.8px); width:60%;">
    <div class="dpf-title">
        Kredi Kartı ile Ödeme Animasyonu
        <div class="accepted-cards-logo"></div>
    </div>
    <div class="dpf-card-placeholder"></div>
    <div class="dpf-input-container">
        <div class="dpf-input-row">
            <label class="dpf-input-label">Kart Numarası</label>
            <div class="dpf-input-container with-icon">
                <span class="dpf-input-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                <input type="text" class="dpf-input" size="20" data-type="number">
            </div>
        </div>

        <div class="dpf-input-row">
            <div class="dpf-input-column">
                <input type="hidden" size="2" data-type="exp_month" placeholder="MM">
                <input type="hidden" size="2" data-type="exp_year" placeholder="YY">

                <label class="dpf-input-label">Son Kullanma Tarihi</label>
                <div class="dpf-input-container">
                    <input type="text" class="dpf-input" data-type="expiry">
                </div>
            </div>
            <div class="dpf-input-column">
                <label class="dpf-input-label">CVV</label>
                <div class="dpf-input-container">
                    <input type="text" class="dpf-input" size="4" data-type="cvc">
                </div>
            </div>
        </div>

        <div class="dpf-input-row">
            <label class="dpf-input-label">Kart Üzerindeki İsim</label>
            <div class="dpf-input-container">
                <input type="text" size="4" class="dpf-input" data-type="name">
            </div>
        </div>

        <button type="submit" class="dpf-submit">
            <span class="btn-active-state">
                Ödeme
            </span>
            <span class="btn-loading-state">
                <i class="fa fa-refresh "></i>
            </span>
        </button>
    </div>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/DatPayment-master/dist/js/DatPayment.js"></script>

<script type="text/javascript">
    var payment_form = new DatPayment({
        form_selector: '#payment-form',
        card_container_selector: '.dpf-card-placeholder',

        number_selector: '.dpf-input[data-type="number"]',
        date_selector: '.dpf-input[data-type="expiry"]',
        cvc_selector: '.dpf-input[data-type="cvc"]',
        name_selector: '.dpf-input[data-type="name"]',

        submit_button_selector: '.dpf-submit',

        placeholders: {
            number: '•••• •••• •••• ••••',
            expiry: '••/••',
            cvc: '•••',
            name: 'M.Baran Bilal'
        },

        validators: {
            number: function (number) {
                return Stripe.card.validateCardNumber(number);
            },
            expiry: function (expiry) {
                var expiry = expiry.split(' / ');
                return Stripe.card.validateExpiry(expiry[0] || 0, expiry[1] || 0);
            },
            cvc: function (cvc) {
                return Stripe.card.validateCVC(cvc);
            },
            name: function (value) {
                return value.length > 0;
            }
        }
    });

    var demo_log_div = document.getElementById("demo-log");

    payment_form.form.addEventListener('payment_form:submit', function (e) {
        var form_data = e.detail;
        payment_form.unlockForm();

        Swal.fire({
            title: 'Ödeme Tamamlandı!',
            text: 'Ödemeniz başarıyla alındı. Fatura bilgilerinizi, sistemde kayıtlı olan e-posta adresiniz üzerinden kontrol edebilirsiniz.',
            icon: 'success',
            confirmButtonText: 'Anladım'
        });


        demo_log_div.innerHTML += "<br>" + JSON.stringify(form_data);
    });


    payment_form.form.addEventListener('payment_form:field_validation_success', function (e) {
        var input = e.detail;

        demo_log_div.innerHTML += "<br>field_validation_success:" + input.getAttribute("data-type");

    });

    payment_form.form.addEventListener('payment_form:field_validation_failed', function (e) {
        var input = e.detail;

        demo_log_div.innerHTML += "<br>field_validation_failed:" + input.getAttribute("data-type");
    });
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datpayment/dist/css/DatPayment.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/datpayment/example.css">
<script src="https://cdn.jsdelivr.net/npm/datpayment/dist/js/DatPayment.js"></script>
